@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>

	<strong>VK</strong>   <a href="http://vk.com/id18209068">vk.com/id18209068</a><br />
</address>

<address>
    <strong>Work mail:</strong>   <a href="mailto:deniaa@skbkontur.ru">deniaa@skbkontur.ru</a><br />
    <strong>Mail:</strong> <a href="mailto:silentcatvallis@gmail.com">silentcatvallis@gmail.com</a>
</address>